main {
  height: 60%;

  section {
    margin: 0 auto;
    width: 80%;

    div {
      margin: 20px;
      padding: 50px 20px;
      background: $color3;
      box-shadow: 0 0 10px $black;
      border-radius: 20px;
    }
  }
}
