main {
  text-align: left;

  #bienvenue,
  #sectionFalse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    margin: 20px auto;
    width: 80%;
    padding: 20px 0;
    background: $color3;
    box-shadow: 0 0 10px $black;
    border-radius: 20px;
    overflow-y: hidden;

    h2 {
      padding-bottom: 20px;
    }
  }

  #sectionFalse {
    p {
      text-align: center;
    }
  }

  .fichePokemon {
    display: none;
    grid-template-columns: 20% 80%;
    height: 65vh;
    margin: 20px auto;
    width: 80%;
    padding: 20px 0;
    background: $color3;
    box-shadow: 0 0 10px $black;
    border-radius: 20px;
    overflow-y: hidden;

    div {
      padding: 20px 0;
      margin: 0 20px;
      overflow-y: scroll;

      img {
        width: 50%;
        filter: drop-shadow(0 0 5px $blackShadow);
      }

      &:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: none;
        overflow-y: hidden;
      }

      &:last-child {
        padding: 20px;

        h2,
        h3 {
          padding: 10px 0;
          margin: 30px 0;
        }

        h2 {
          border: 2px solid $color1;
          box-shadow: 0 0 10px $blackShadow;
          background: $white;
          text-align: center;

          &:first-of-type {
            border: 2px solid $color3;
            box-shadow: none;
            background: $color3;
          }
        }
        li {
          list-style-position: inside;

          li {
            margin-left: 30px;
          }
        }
      }
    }
  }
}
