@font-face {
  font-family: "pokemon-hollow";
  src: url(../fonts/pokemon-hollow.ttf);
}
@font-face {
  font-family: "pokemon-solid";
  src: url(../fonts/pokemon-solid.ttf);
}
@font-face {
  font-family: "pokemon-classic";
  src: url(../fonts/pokemon-classic.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: pokemon-classic, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  color: #000000;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: pokemon-solid, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #f8cc41;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #2b73bb;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.4rem;
}

header {
  background: #ea4241;
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000;
  height: 20%;
}
header div {
  display: grid;
  grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  width: 80%;
  margin: 0 auto;
}
header div div {
  display: block;
  padding: 0;
}
header div div label {
  font-size: 0.7rem;
  color: #ffffff;
}
header div div label input {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  text-align: center;
}
header div div label input:active, header div div label input:focus {
  outline: none;
}
header div div button {
  padding: 5px 20px 7px;
  border-radius: 5px;
  background: #f8cc41;
  color: #2b73bb;
  border: 2px solid #2b73bb;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
header div div button:hover {
  background: #000000;
  color: #ffffff;
  border: 2px solid #000000;
}

main {
  text-align: left;
}
main #bienvenue,
main #sectionFalse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65vh;
  margin: 20px auto;
  width: 80%;
  padding: 20px 0;
  background: #ea4241;
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000;
  border-radius: 20px;
  overflow-y: hidden;
}
main #bienvenue h2,
main #sectionFalse h2 {
  padding-bottom: 20px;
}
main #sectionFalse p {
  text-align: center;
}
main .fichePokemon {
  display: none;
  grid-template-columns: 20% 80%;
  height: 65vh;
  margin: 20px auto;
  width: 80%;
  padding: 20px 0;
  background: #ea4241;
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000;
  border-radius: 20px;
  overflow-y: hidden;
}
main .fichePokemon div {
  padding: 20px 0;
  margin: 0 20px;
  overflow-y: scroll;
}
main .fichePokemon div img {
  width: 50%;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}
main .fichePokemon div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: none;
  overflow-y: hidden;
}
main .fichePokemon div:last-child {
  padding: 20px;
}
main .fichePokemon div:last-child h2,
main .fichePokemon div:last-child h3 {
  padding: 10px 0;
  margin: 30px 0;
}
main .fichePokemon div:last-child h2 {
  border: 2px solid #2b73bb;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  text-align: center;
}
main .fichePokemon div:last-child h2:first-of-type {
  border: 2px solid #ea4241;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #ea4241;
}
main .fichePokemon div:last-child li {
  list-style-position: inside;
}
main .fichePokemon div:last-child li li {
  margin-left: 30px;
}

footer {
  background: #ea4241;
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000;
  height: 20%;
}
footer div {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 10% 50% 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
footer div p,
footer div a {
  font-size: 0.6rem;
  text-decoration: none;
  color: #ffffff;
}
footer div a:hover {
  color: #000000;
}
footer div .legalLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}/*# sourceMappingURL=index.css.map */